.form-grupo{
    margin-bottom: 20px;
}
.control-label{
    color: #919496;
    font-weight: 400; 
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.form-control{
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #D9DADC;
    border-radius: 0;
}

.borde-botones{
    float: left;
}
@media only screen and (min-width:768px){
    .borde-botones{
        float: right !important;
    }
}

.btn-nueva-contrasena{
    max-width: 290px;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 10px 32px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid 
}
.btn-verde{
    color: #FFF;
    background-color: #1DB954; 
}
.btn-cancelar{
    margin-right: 20px;
    float: right !important;
    color: #000; 
    max-width: 290px;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 10px 32px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: transparent;
}
#div-planfamiliar{
    background-color: white;
    height: 414px;
    margin-top: 40px;
}
#div-gestionar{
    background-color: white;
    height: 190px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}
#div-espacio{
    height: 2px;
}
#text-tu-plan-1{
    color: black;
    text-align: center;
    margin-top: 20px;
}
#text-tu-plan-2{
    font-weight: bold;
}
.text-plan-premium{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.text-plan-premium2{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
#button-cambiar{
    width: 280px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}
#cuadro-mastercard{
    width: 50%;
    margin-left: 25%;
    background-color: rgb(248, 248, 248);
    
}
#button-actualizar{
    width: 280px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}
#button-ir{
    
    width: 280px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}#cuadro-1{
    height:  741px;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}
.div-button{
margin-top: 25px;
margin-bottom: 25px;
}
#div-info{
    padding: 60px 60px 60px 35px
}
#home{
    width: 100%;
    height: 100%;
}
#tamanio-home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 50px;
}
#text-tu-casa{
    font-weight: bold;
    text-align: center;
}
#div-info-1{
    background-color: white;
}
#button-enviar-informacion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-color: blue;
    width: 40%;
    color: white;
}
.tarjeta-perfil{
    margin-top: 15px;
}
#text-invita{
    text-align: center;
    color: black;
}
#menber1{
    display: block;
    line-height: 24px;
    padding-left:  20px;
}
#icon{
    margin-top: 6px;
    margin-right: 12px;
    padding-left: 0px;
}
#alineado{
    width: 93%;
    display: flex;
    overflow: hidden;
    height: 56px;
    margin: 0 12px;
}
#name{
    overflow: hidden;
    color: #222326;
    font-weight: 700;
    max-width: 240px;
}
#estado{
    text-transform: capitalize;
    font-size: 14px;
    color: #C1C3C6;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tamanio-foto-usuario{
    height: 40px;
    width: 100%
}
.foto-usuario{
    width: 100%;
    height: 100%;
}
#div-info-2{
    margin-top: 10px;
    background-color: white;
}
.ul-info{
    
    text-decoration: none;
    list-style-type: none;
}
.usuario-div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 56px;
    margin: 0 12px;
}
.tabla-recibos{
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}
.table-head-recibos{
    border-top: 0;
    border-bottom-width: 0;
    padding: 0 16px 16px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #C1C3C6;
    vertical-align: bottom;
    border-bottom: 2px solid #EFEFEF;
    line-height: 1.5;
    text-align: left;
}
.tb-recibos{
    background-color: rgba(0, 0, 0, 0.02);
}

.td-tb-recibos{
    padding: 16px;
    border: none;
    vertical-align: middle;
    background-color: white;
}
.btn-link-ver-recibos{
    border-radius: 0;
    max-width: 290px;
    font-size: 12px;
    line-height: 1;
    padding: 10px 32px;
    color: #1DB954!important;
    font-weight: 700;
    min-width: 0;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

