
.btn-primary {
    background-color: black !important;
    border-color: black !important;
    }
    
.btn-primary:hover {
   border-color: #090909;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #f5f5f5;
    border-color: #fefefe;
}

.form-control{
    border-radius:0;
}
.header-principal{
    position: fixed; /*Fixed ya que queremos que la posición sea en relación al navegador*/
    top: 0; /*El valor 0 indica que va a quedar arriba de todo*/
    left: 0; /*Para que el menu se ubique siempre en la parte izquierda de la pantalla*/
    z-index: 100%;
    border-color: #222326;
    background-color: black !important;
    width: 100%;
}
#toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.lista-nav{
    margin-left: auto!important;
}
.nav-general{
    background-color:#222326!important;
}
.letras-nav{
    color: white !important;
}
.botton-setup{
    color: white!important;
    border-color: white!important;
}
.container-new{
    padding-right: 0px;
    padding-left: 0px;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#contenido-var{
    background-color: black;
}